[defaults]
inventory = ./ansible/inventory/ansible.ini
roles_path = ./ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles:/home/ubuntu/cv-challenge-03/ansible/roles
remote_user = ubuntu
private_key_file = ~/devops1.pem
host_key_checking = False